* {
    margin: 0;
    font-family: 'Work Sans', sans-serif
}

/* headerr and div styles */
.div-header-1 {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-weight: 700;
    font-size: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    line-height: 76px;
    text-align: right;
    color: #151414;

}

.div-p {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    left: 876px;
    top: 468px;
    text-align: right;
    color: #444343;
}
.btn-primary{
    position: absolute;
width: 160px;
height: 64px;
left: 1210px;
top: 578px;
background: #F15B22;
border-radius: 5px;
color: #FFFFFF;
}