* {
    margin: 0;
    font-family: 'Work Sans', sans-serif
}

/* headerr and div styles */
.div-header-1 {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-weight: 700;
    font-size: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    line-height: 76px;
    text-align: right;
    color: #151414;

}

.div-p {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    left: 876px;
    top: 468px;
    text-align: right;
    color: #444343;
}

.btn-primary {
    font-weight: 600;

    line-height: 23px;
    border: 0;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
}

/* my failure styles */
.my-failure {
    align-items: center;
    margin: 0 200px;
    display: flex;

}

.img-person {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;

}

.section-title {
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.section-discription {
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}

.section-ul1 {
    position: absolute;
    width: 344px;
    height: 26.8px;
    left: 836px;
    top: 1430px;
}

.section-ul2 {
    position: absolute;
    width: 240px;
    height: 26.8px;
    left: 836px;
    top: 1460.05px;
}

.section-ul3 {
    position: absolute;
    width: 306px;
    height: 26.8px;
    left: 836px;
    top: 1492.1px;

}

.section-ul4 {
    position: absolute;
    width: 349px;
    height: 26.8px;
    left: 836px;
    top: 1527.15px;

}

.section-ul5 {

    position: absolute;
    width: 247px;
    height: 26.8px;
    left: 836px;
    top: 1562.2px;
}

/* my plan styles */
.section-title2 {
    position: absolute;
    width: 179px;
    height: 47px;
    left: 725px;
    top: 1792px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.skills-container {
    display: flex;
}


.img-web {
    position: absolute;
    width: 92.96px;
    height: 92.96px;
    left: 344px;
    top: 1900.7px;

}

.skill-title1 {
    position: absolute;
    width: 270px;
    height: 35px;
    left: 244px;
    top: 2011.96px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.skill-description1 {
    position: absolute;
    width: 177px;
    height: 29px;
    left: 291px;
    top: 2062.96px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}



.img-js {
    position: absolute;
    width: 92.96px;
    height: 92.96px;
    left: 645px;
    top: 1894.7px;
}

.skill-title2 {
    position: absolute;
    width: 156px;
    height: 35px;
    left: 632px;
    top: 2007px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;

}

.skill-description2 {

    position: absolute;
    width: 181px;
    height: 29px;
    left: 619px;
    top: 2058px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}






.img-smoke {

    position: absolute;
    width: 93px;
    height: 93px;
    left: 930px;
    top: 1889px;
}

.skill-title3 {
    position: absolute;
    width: 218px;
    height: 35px;
    left: 867px;
    top: 2006px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #151414;
}

.skill-description3 {
    position: absolute;
    width: 164px;
    height: 29px;
    left: 894px;
    top: 2057px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}



.img-ecom {
    position: absolute;
    width: 92.96px;
    height: 92.96px;
    left: 1232px;
    top: 1889px;
}

.skill-title4 {
    position: absolute;
    width: 174px;
    height: 35px;
    left: 1191px;
    top: 2006px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    /* Dark 01 */

    color: #151414;

}

.skill-description4 {
    position: absolute;
    width: 214px;
    height: 29px;
    left: 1171px;
    top: 2057px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    /* Dark 03 */

    color: #737272;
}

/* positive styles */
.positive {
    background-image: url('../images/watch.png');

    border-radius: 8px;
    background-repeat: no-repeat;
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2222.26px;
}

.description {
    padding: 60px 64px 620px;
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2281.26px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;
}
/* 
.btn-2 {
    
    position: absolute;
    width: 88px;
    height: 23px;
    left: 330px;
    top: 2420.26px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #F15B22;
    
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
    
    background: #FFFFFF;
    border-radius: 5px;

} */